body{
  background-image: url("linus-nylund-JP23z_-dA74-unsplash.jpg");
  color: white;
  text-align: center;
}
h1{
  font-size: 500%;
}
.navbar {
  overflow: hidden;
  background-color: cyan;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
